[submodule "OBSPlaginPortraitSegmentation/vendor/spdlog"]
	path = OBSPlaginPortraitSegmentation/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "OBSPlaginPortraitSegmentation/vendor/GLFW"]
	path = OBSPlaginPortraitSegmentation/vendor/GLFW
	url = https://github.com/L3b1n/glfw.git
[submodule "OBSPlaginPortraitSegmentation/vendor/glm"]
	path = OBSPlaginPortraitSegmentation/vendor/glm
	url = https://github.com/g-truc/glm.git
